{:kotoba.app/id "cloud.itonami.isic-5914", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicttkswhlrozzst7yhntty4dfbj4gi72w3txxcthoo5qouvut6pme", :kotoba.app/embed-url "ipfs://bafkreicttkswhlrozzst7yhntty4dfbj4gi72w3txxcthoo5qouvut6pme", :published {:archive "https://kotobase.net/ipfs/bafkreicttkswhlrozzst7yhntty4dfbj4gi72w3txxcthoo5qouvut6pme", :size 73079, :put-status 201, :get-status 200, :at "2026-08-15T13:44:03.770Z"}}
